# Entornos virtuales de Python
.venv/
venv/
env/
__pycache__/
*.pyc

# Compilados de C++ y Binarios
*.obj
*.o
*.a
*.lib
*.exe
*.dll
*.so
*.dylib

# Archivos de Qt instalados localmente, cachés y proyectos
Qt/
.qmake.stash
.qtcreator/
*.user

# Carpetas de Compilación Local
build/
build*/
build_mingw/
cmake-build-*/

# Archivos y carpetas de configuración de IDEs
.vscode/
.idea/
.vs/

# Logs y Archivos Temporales (.txt / .log / .tmp)
*.log
*.tmp
*_log.txt
*_err.txt
*_out.txt
*log.txt
*err.txt
*out.txt
out.txt
debug_*.txt
debug-*.txt
diff.txt
app_err.txt
app_out.txt
debug_curve.txt
debug_err.txt
debug_out.txt
debug_output.txt
launch_err.txt
launch_out.txt
qml_log.txt
run_log.txt


